@import "./variables.scss";

body {
    background-image: url("../img/Background_Login.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginForm{
    margin-top: 30rem;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 23rem;
}

#brandMBTC {
    height: 4.75rem;
    width: auto;
    margin-bottom: 2.5rem;
}

.loginTextBox {
    margin: 0.4rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid $inputTextColor;
    @include inputHoverFocus;
    &::placeholder {
        color: #cccccc;
    }
}

.loginButton {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid $inputTextColor;
    // use this once all fields are completed 
    // #ababab;
    background: #fafafa;
    // use this on hover once all fields are completed
    // #e6e6e6;
    color: #93b9c6;
    // use this once all fields are completed
    // #2f6497;
    font-size: 1.2rem;
    &:hover {
        background: #e6e6e6;
    }
    &:focus {
        color: white;
        background: #427cac;
        box-shadow: none;
        border: none;
        outline: 1px dotted white;
        outline-offset: -0.3rem;
    }
}

.forgetChangePassword {
    color: $darkblueTextColor;
    @include noDecoration_hoverUnderline;
}

#brandService101 {
    height: 4rem;
    width: auto;
}

.footerText {
    font-size: $smallFont;
}