@import "./variables.scss";

html body {
    background: $bodyBackgroundColor;
}

.navbar {
    background: #a9c6de;
    height: 4rem;
}

.navLogo_MBTC {
    height: 3.75rem;
    width: auto;
}

.headerText {
    color: $headerTextColor;
}

.formHeader {
    background: #E6F2F9;
}

.formSubHeader {
    background: #e6e6e6; // #e5e5e5;
}

#salesOrderInfo {
    margin-left: 8rem;
    margin-right: 8rem;
    .readOnly {
        box-shadow: none;
        outline: none;
        border: none;
        border: 1px solid $inputTextColor;
    }
}

.col-md-4, .col-md-10 {
    .userInput {
        @include inputTextStyle;
    }
    input::placeholder, textarea::placeholder {
        @include placeholderStyle;
    }
}

.button {
    @include button;
}

.fas {
    @include logOutIcon;
}

.far {
    @include icon;
}
.contentSpacerFromNav {
    height: 4rem;
}

.row {
    width: 100%;
}

tbody tr {
    @include tableRow;
}