* {
    box-sizing: border-box;
}

// Font Sizes
$smallFont: 0.9rem;


// Font Styles
@mixin noDecoration_hoverUnderline {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
@mixin placeholderStyle {
    font-style: italic;
    color: #ababab;
}


// Colors
$bodyBackgroundColor: #f1f2f3;
$inputTextColor: #cccccc;
$darkblueTextColor: #1866b4; // Forgot password shade
$headerTextColor: #144b7f; // #2f6497;


// Input Styles
@mixin inputTextStyle {
    box-shadow: none;
    outline: none;
    border-radius: none;
    border: 1px solid $inputTextColor;
    @include inputHoverFocus;
}

@mixin inputHoverFocus {
    &:hover {
        border-color: #005483;
    }
    &:focus {
        outline: 0.0625rem dotted;
        outline-offset: -0.3rem;
    }
}


// Button Styles
@mixin button {
    background: $bodyBackgroundColor;
    border: 1px solid #999999;
    border-radius: 5px;
    color: $headerTextColor;
    &:hover {
        background: #e6e6e6;
    }
    &:focus {
        color: white;
        background: #427cac;
        box-shadow: none;
        outline: 1px dotted white;
        outline-offset: -0.3rem;
    }
}

// Icons
@mixin logOutIcon {
    color: #333333;
    &:hover::after {
    content: "Logout";
    position: fixed;
    top: 2.2rem;
    right: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}

@mixin icon {
    color: #333333;
    &:hover::after {
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}

@mixin tableRow {
    &:hover {
        background: lightgray;
    }
}