<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer Portal</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <!--Custom CSS-->
    <link rel="stylesheet" href="css/customerLogin.css">
</head>

<body>

<div class="loginForm container overflow-hidden">
    <div class="row d-flex justify-content-center">
        <img id="brandMBTC" src="img/Brand_ManilaBayThread.png" alt="Manila Bay Thread Corporation">
    </div>
    <div class="row d-flex justify-content-center">
        <input type="text" class="loginTextBox fst-italic fs-4" placeholder="User ID">
    </div>
    <div class="row d-flex justify-content-center mb-1">
        <input type="password" class="loginTextBox fst-italic fs-4" placeholder="Password">
    </div>
    <div class="row d-flex justify-content-center mb-4 mt-4">
        <a class="loginButton btn btn-block btn-light" href="/sales-orders" role="button">Login</a>
    </div>
    <div class="container d-flex justify-content-between mt-4">
        <a href="" class="forgetChangePassword small">Forgot your password?</a>
        <a href="" class="forgetChangePassword small">Change Password</a>
    </div>
</div>
<footer class="container-fluid d-flex justify-content-center align-items-center fixed-bottom mb-2">
    <div>
        <a href="https://www.service101plus.com/" class="text-decoration-none">
        <img id="brandService101" src="img/Brand_Service101Plus.png" class="p-1"></a>
    </div>
    <div>
        <span class="footerText p-1">Copyright &copy 2021 | All rights reserved.</span>
    </div>
</footer>

</body>
</html>