<%-include('include/_header_sales_orders')%>

<div class="container">

    <table class="table table-striped">
            
     
            
     
                <tr>
                    <td class="text-center" colspan="4"><h5>Account Information</h5></td>
                </tr>
                <tr>
                    <td scope="col" value="<%=salesOrders.accountName%>">Account Name:</td>
                    <td></td>
                    <td scope="col">Contact Name:</td>
                    <td><%=salesOrders.contactName%></td>
                </tr>
                <tr>
                    <td scope="col">Ship-To:</td>
                    <td><%=salesOrders.shipTo%></td>
                    <td scope="col">Phone:</td>
                    <td><%=salesOrders.phone%></td>
                </tr>
                <tr>
                    <td scope="col">Payment Terms:</td>
                    <td><%=salesOrders.paymentTerms%></td>
                    <td scope="col">Currency:</td>
                    <td><%=salesOrders.currency%></td>
                </tr>
                <tr>
                    <td scope="col">Requested Date:</td>
                    <td><%=salesOrders.requestedDate%></td>
                    <td scope="col">Posting Date:</td>
                    <td><%=salesOrders.postingDate%></td>
                </tr>
                <tr>
                    <td scope="col">ATP:</td>
                    <td><%=salesOrders.atp%></td>
                    <td scope="col">Sales Order ID:</td>
                    <td><%=salesOrders.salesOrderId%></td>
                </tr>
                <tr>
                    <td scope="col">External Reference:</td>
                    <td><%=salesOrders.externalReference%></td>
                    <td scope="col">SAP Sales Order No.:</td>
                    <td><%=salesOrders.sapSalesOrderNo%></td>
                </tr>
                <tr>
                    <td scope="col">Comments:</td>
                    <td><%=salesOrders.comments%></td>
                    <td scope="col">Status:</td>
                    <td><%=salesOrders.status%></td>
                </tr>



    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Line No.</th>
                <th scope="col">Product ID</th>
                <th scope="col">Product Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit of Measure</th>
                
            </tr>
        </thead>
        <tbody>
                    <tr>
                        <td><%=salesOrders.lineNo%></td>
                        <td><%=salesOrders.productId%></td>
                        <td><%=salesOrders.productDescription%></td>
                        <td><%=salesOrders.quantity%></td>
                        <td><%=salesOrders.unitMeasure%></td>
                    </tr>
        </tbody>    
    </table>
</div>

</body>
</html>