<!--Header-->
    <%-include('include/_header_new_sales_order')%>

<!--New Sales Order Form-->
    <%-include('include/_add_sales_order')%>

</div>

<!-- jquery CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/index.js"></script>

</body>
</html>