<!--Inserts the corresponding page header-->
    <%-include('include/_header_sales_orders')%>

<!--Sales Order Record Details-->

<div class="formHeader container-fluid px-5 py-2">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col d-flex">
            <input type="text" class="readOnly form-control" id="accountName" placeholder="Account Name" readonly>
        </div>
        <div class="col d-flex">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search...">
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col d-flex">
            <a class="button btn me-4" role="button" href="">Sync
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
        <div class="col d-flex">
            <a class="button btn me-4" role="button" href="/new-sales-order">New Sales Order
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-striped fold-table">
        <thead>
            <tr>
                <th scope="col">Sales Order ID</th>
                <th scope="col">SAP Sales Order No.</th>
                <th scope="col">SAP Invoice No.</th>
                <th scope="col">Date Created</th>
                <th scope="col">Requested Date</th>
                <th scope="col">Status</th>
                <th scope="col">External Reference</th>
            </tr>
        </thead>
        <tbody>

            <!--Inserts the selected sales order data in the database -->
                <%-include('include/_show_salesOrder_data')%>

        </tbody>
    </table>
</div>

</body>
</html>