<form id="add_sales_order" action="/api/sales-orders" method="post">
    <!--Account Info-->
    <div class="formHeader d-flex py-3">
        <div class="col-md-4 d-flex justify-content-start align-items-center ps-2"></div>
        <div class="col-md-4 d-flex justify-content-center align-items-center ps-2">
            <h5 class="text-center">Account Information</h5>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center ps-2">
            <a class="button btn me-4" role="button" href="/sales-orders">View Sales Orders</a>
        </div>
    </div>
    <div class="container-fluid mt-4 mb-5 px-5 overflow-hidden">
        <div class="row g-2">
            <div class="form-group d-flex">
                <div class="col-md-2 py-2">
                    <label for="accountName" class="form-label">Account Name:</label>
                </div>
                <div class="col-md-4 py-2 pe-5">
                    <input type="hidden" name="id" value="">
                    <input type="text" class="readOnly form-control" name="accountName" required>
                </div>
                <div class="col-md-2 py-2 ps-5">
                    <label for="contactName" class="form-label">Contact Name:</label>
                </div>
                <div class="col-md-4 py-2">
                    <input type="text" class="readOnly form-control" name="contactName" required>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="form-group d-flex">
                <div class="col-md-2 py-2">
                    <label for="shipTo" class="form-label">Ship-To:</label>
                </div>
                <div class="col-md-4 py-2 pe-5">
                    <select class="form-select" name="shipTo" required>
                        <option value="" selected disabled>Choose address</option>
                        <option value="address1">Address 1</option>
                        <option value="address2">Address 2</option>
                        <option value="address3">Address 3</option>
                      </select>
                </div>
                <div class="col-md-2 py-2 ps-5">
                    <label for="phone" class="form-label">Phone:</label>
                </div>
                <div class="col-md-4 py-2">
                    <input type="text" class="readOnly form-control" name="phone" required>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="form-group d-flex">
                <div class="col-md-2 py-2">
                    <label for="paymentTerms" class="form-label">Payment Terms:</label>
                </div>
                <div class="col-md-4 py-2 pe-5">
                    <input type="text" class="readOnly form-control" name="paymentTerms" required>
                </div>
                <div class="col-md-2 py-2 ps-5">
                    <label for="currency" class="form-label">Currency:</label>
                </div>
                <div class="col-md-4 py-2">
                    <input type="text" class="readOnly form-control" name="currency" required>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="form-group d-flex">
                <div class="col-md-2 py-2">
                    <label for="requestedDate" class="form-label">Requested Date:</label>
                </div>
                <div class="col-md-4 py-2 pe-5">
                    <input type="date" class="userInput form-control" name="requestedDate">
                </div>
                <div class="col-md-2 py-2 ps-5">
                    <label for="postingDate" class="form-label">Posting Date:</label>
                </div>
                <div class="col-md-4 py-2">
                    <input type="text" class="readOnly form-control" name="postingDate">
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="form-group d-flex">
                <div class="col-md-2 py-2">
                    <label for="atp" class="form-label">ATP:</label>
                </div>
                <div class="col-md-4 py-2 pe-5">
                    <input type="text" class="readOnly form-control" name="atp">
                </div>
                <div class="col-md-2 py-2 ps-5">
                    <label for="sapSalesOrderNo" class="form-label">SAP Sales Order No.:</label>
                </div>
                <div class="col-md-4 py-2">
                    <input type="text" class="readOnly form-control" name="sapSalesOrderNo">
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="form-group d-flex">
                <div class="col-md-2 py-2">
                    <label for="externalReference" class="form-label">External Reference:</label>
                </div>
                <div class="col-md-4 py-2 pe-5">
                    <input type="text" class="userInput form-control" name="externalReference" placeholder="Enter external reference">
                </div>
                <div class="col-md-2 py-2 ps-5">
                    <label for="status" class="form-label">Status:</label>
                </div>
                <div class="col-md-4 py-2">
                    <input type="text" class="readOnly form-control" name="status">
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="form-group d-flex">
                <div class="col-md-2 py-2">
                    <label for="comments" class="form-label">Comments:</label>
                </div>
                <div class="col-md-10 py-2">
                    <textarea class="userInput form-control" name="comments" rows="3" placeholder="Type in your comment here"></textarea>
                </div>
            </div>
        </div>        
    </div>
    <!--/Account Info-->

    <!--Sales Order Header-->
    <div class="formHeader container-fluid d-flex justify-content-center mt-5 py-3">
        <h5 class="text-center">Sales Order Details</h5>
    </div>
    <!--/Sales Order Header-->

    <!--Sales Order Details-->
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Line No.</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit of Measure</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>               
                <tr>
                    <td><input type="text" name="lineNo" required></td>
                    <td>
                        <select class="form-select" name="productId" required>
                            <option value="" selected disabled>Choose product</option>
                            <option value="product1">Product 1</option>
                            <option value="product2">Product 2</option>
                            <option value="product3">Product 3</option>
                          </select>
                    </td>
                    <td><input type="text" name="productDescription" required></td>
                    <td><input type="text" name="quantity" required></td>
                    <td>
                        <select class="form-select" name="unitMeasure" required>
                            <option value="" selected disabled>Choose unit of measure</option>
                            <option value="measure1">Measure 1</option>
                            <option value="measure2">Measure 2</option>
                            <option value="measure3">Measure 3</option>
                          </select>
                    </td>
                    <td>
                        <div class="d-flex">
                            <a class="button btn me-4">Add Item<i class="fas fa-plus"></i></a>
                            <a class="button btn me-4 delete">Remove<i class="far fa-trash-alt" title="delete"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <!--Order Button-->
        <div class="container-fluid d-flex mt-5 py-3">
            <div class="row d-flex justify-content-end align-items-center pe-2 g-2">
                <button type="submit" class="button btn me-4">Order Now</button>
            </div>        
        </div>
        <!--/Order Button-->
    
    </div>
    <!--/Sales Order Details-->
</form>