<!doctype html>
<html lang="en">
<head>
    <title>New Sales Order</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--Custom CSS-->
    <link rel="stylesheet" href="css/newSalesOrder.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<nav class="navbar fixed-top navbar-expand-md">
    <div class="container-fluid d-flex">
        <div class="col-md-4 d-flex justify-content-start align-items-center ps-2">
            <img src="img/Brand_ManilaBayThread.png" class="navLogo_MBTC" alt="Manila Bay Thread Corporation">
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <span class="headerText"><h4>Sales Orders</h4></span>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center pe-2">
            <div class="d-flex align-items-center">
                <a href="/" role="button"><i class="fas fa-times-circle fs-3"></i></a>
            </div>
        </div>
    </div>  
</nav>

<div class="contentSpacerFromNav"></div>