<%for(var i= 0; i<salesOrders.length; i++) {%>

    <tr>
        <td>
            <a href="/detailed-sales-order?sap-sales-order-no=<%=salesOrders[i].sapSalesOrderNo%>">
                <%=i+1%>
            </a>
        </td>
        <td>
            <a href="/detailed-sales-order?sap-sales-order-no=<%=salesOrders[i].sapSalesOrderNo%>">
                <%=salesOrders[i].sapSalesOrderNo%>
            </a>
        </td>
        <td>
            <a href="/detailed-sales-order?sap-sales-order-no=<%=salesOrders[i].sapSalesOrderNo%>">
                <%=salesOrders[i].sapInvoiceNo%>
            </a>
        </td>
        <td>
            <a href="/detailed-sales-order?sap-sales-order-no=<%=salesOrders[i].sapSalesOrderNo%>">
                <%=salesOrders[i].dateCreated%>
            </a>
        </td>
        <td>
            <a href="/detailed-sales-order?sap-sales-order-no=<%=salesOrders[i].sapSalesOrderNo%>">
                <%=salesOrders[i].requestedDate%>
            </a>
        </td>
        <td>
            <a href="/detailed-sales-order?sap-sales-order-no=<%=salesOrders[i].sapSalesOrderNo%>">
                <%=salesOrders[i].status%>
            </a>
        </td>
        <td>
            <a href="/detailed-sales-order?sap-sales-order-no=<%=salesOrders[i].sapSalesOrderNo%>">
                <%=salesOrders[i].externalReference%>
            </a>
        </td>
    </tr>

<%}%>