* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../img/Background_Login.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginForm {
  margin-top: 30rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  width: 23rem;
}

#brandMBTC {
  height: 4.75rem;
  width: auto;
  margin-bottom: 2.5rem;
}

.loginTextBox {
  margin: 0.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid #cccccc;
}

.loginTextBox:hover {
  border-color: #005483;
}

.loginTextBox:focus {
  outline: 0.0625rem dotted;
  outline-offset: -0.3rem;
}

.loginTextBox::-webkit-input-placeholder {
  color: #cccccc;
}

.loginTextBox:-ms-input-placeholder {
  color: #cccccc;
}

.loginTextBox::-ms-input-placeholder {
  color: #cccccc;
}

.loginTextBox::placeholder {
  color: #cccccc;
}

.loginButton {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background: #fafafa;
  color: #93b9c6;
  font-size: 1.2rem;
}

.loginButton:hover {
  background: #e6e6e6;
}

.loginButton:focus {
  color: white;
  background: #427cac;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: 1px dotted white;
  outline-offset: -0.3rem;
}

.forgetChangePassword {
  color: #1866b4;
  text-decoration: none;
}

.forgetChangePassword:hover {
  text-decoration: underline;
}

#brandService101 {
  height: 4rem;
  width: auto;
}

.footerText {
  font-size: 0.9rem;
}
