* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  background: #f1f2f3;
}

.navbar {
  background: #a9c6de;
  height: 4rem;
}

.navLogo_MBTC {
  height: 3.75rem;
  width: auto;
}

.headerText {
  color: #144b7f;
}

.formHeader {
  background: #E6F2F9;
}

.formSubHeader {
  background: #e6e6e6;
}

#salesOrderInfo {
  margin-left: 8rem;
  margin-right: 8rem;
}

#salesOrderInfo .readOnly {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
  border: 1px solid #cccccc;
}

.col-md-4 .userInput, .col-md-10 .userInput {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-radius: none;
  border: 1px solid #cccccc;
}

.col-md-4 .userInput:hover, .col-md-10 .userInput:hover {
  border-color: #005483;
}

.col-md-4 .userInput:focus, .col-md-10 .userInput:focus {
  outline: 0.0625rem dotted;
  outline-offset: -0.3rem;
}

.col-md-4 input::-webkit-input-placeholder, .col-md-4 textarea::-webkit-input-placeholder, .col-md-10 input::-webkit-input-placeholder, .col-md-10 textarea::-webkit-input-placeholder {
  font-style: italic;
  color: #ababab;
}

.col-md-4 input:-ms-input-placeholder, .col-md-4 textarea:-ms-input-placeholder, .col-md-10 input:-ms-input-placeholder, .col-md-10 textarea:-ms-input-placeholder {
  font-style: italic;
  color: #ababab;
}

.col-md-4 input::-ms-input-placeholder, .col-md-4 textarea::-ms-input-placeholder, .col-md-10 input::-ms-input-placeholder, .col-md-10 textarea::-ms-input-placeholder {
  font-style: italic;
  color: #ababab;
}

.col-md-4 input::placeholder, .col-md-4 textarea::placeholder, .col-md-10 input::placeholder, .col-md-10 textarea::placeholder {
  font-style: italic;
  color: #ababab;
}

.button {
  background: #f1f2f3;
  border: 1px solid #999999;
  border-radius: 5px;
  color: #144b7f;
}

.button:hover {
  background: #e6e6e6;
}

.button:focus {
  color: white;
  background: #427cac;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 1px dotted white;
  outline-offset: -0.3rem;
}

.fas {
  color: #333333;
}

.fas:hover::after {
  content: "Logout";
  position: fixed;
  top: 2.2rem;
  right: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contentSpacerFromNav {
  height: 4rem;
}

.row {
  width: 100%;
}
